.mainpage-sidepanel {
  margin: 8px;
}

.mainpage-layout {
  min-height: 100vh;  
}

nz-header {
  position: fixed;
  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-footer {
  text-align: center;
}
