<nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['../../']" [queryParams]="queryParams">{{'Home' | transloco}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{listCriteria}}</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-table #basicTable [nzData]="listPosts">
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>
                <a routerLink="/blog/{{data.id}}" [queryParams]="queryParams">
                    <h1>{{ data.title }}</h1>
                </a>
                <p>{{ data.brief }}</p>
                <nz-divider></nz-divider>
                <p>{{ data.createdat.format('YYYY-MM-DD h:mm:ss') }}</p>
            </td>
        </tr>
    </tbody>
</nz-table>

