<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']" [queryParams]="queryParams">{{'Home' | transloco}}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{postTitle}}</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="navigation-panel">
  <nz-button-group>
    <button nz-button nzType="primary" [disabled]="!previousButtonEnabled" (click)="onGoPrevious()"><i nz-icon nzType="left"></i>{{'NewerPost' | transloco}}</button>
    <button nz-button nzType="primary" [disabled]="!nextButtonEnabled" (click)="onGoNext()">{{'OlderPost' | transloco}}<i nz-icon nzType="right"></i></button>
  </nz-button-group>
</div>

<div nz-row class="editor-preview">
  <markdown emoji [src]="filePath" katex [katexOptions]="katexOptions">
  </markdown>
</div>

<div>
  <nz-tag *ngFor="let tag of listTag">{{tag}}</nz-tag>
</div>

<div class="navigation-panel">
  <nz-button-group>
    <button nz-button nzType="primary" [disabled]="!previousButtonEnabled" (click)="onGoPrevious()"><i nz-icon nzType="left"></i>{{'NewerPost' | transloco}}</button>
    <button nz-button nzType="primary" [disabled]="!nextButtonEnabled" (click)="onGoNext()">{{'OlderPost' | transloco}}<i nz-icon nzType="right"></i></button>
  </nz-button-group>  
</div>
